* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.tc {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  font-weight: 100;
}

.black {
  color: #000;
}

.dark-grey {
  color: #555;
}

.grey {
  color: #777;
}

.light-grey {
  color: #aaa;
}

.white {
  color: #fff;
}

.green {
  color: #60a32f;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs42 {
  font-size: 42px;
}

.fw6 {
  font-weight: 600;
}

.fw9 {
  font-weight: 900;
}

/* title logo float maintainer */

.title-container {
  padding: 0px 20px 30px;
}

.title {
  font-size: 42px;
  float: left;
}


.title-logo {
  text-align: right;
  float: right;
}

.title-logo img {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  margin-right: 10px;
}

.title-logo span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

/* header part */

.header{
  background-image: url("assets/background/header_bg.png");
  height:120px;
  background-position: 100% 100%;
  padding: 20px 0px;
}

.header-logo {
  float: left;
  padding-left: 20px;
}

.header-logo img {
  width: 100%;
}

.header-menu {
  float: right;
  display: none;
}

.header-menu img {
  width: 100%;
  float: right;
}

.header-info {
  float: right;
  padding-right: 20px;
}

.header-contact {
  text-align: right;
  font-size: 28px;
  padding-bottom: 15px;
}

.header-contact span{
  font-weight: 600;
}


.header-navigation ul {
  list-style-type: none;
}

.header-navigation li {
  display: inline-block;
}

.header-navigation li:not(:first-child) {
  padding-left: 15px;
}

/* about section part */

.about-article {
  background-color: #60a32f;
  padding: 40px 0px;
}

/* slider part */

.slider-background {
  background-image: url("assets/background/body_bg.jpg");
  height: 50vw;
  background-size: 100% 100%;
}

.slider-section {
  height: 50vw;
}

.slider-main {
  float: left;
  width: 50%;
  height: 50vw;
  padding: 150px 30px 40px;
}

.slider-info {
  float: right;
  width: 45%;
  background-image: url("assets/background/container_bg.png");
  background-size: 100% 100%;
  height: 50vw;
}

.slider-info-content {
  width: 70%;
  height: 40vw;
  margin: 30px auto;
  overflow: auto;
}

.slider-info-title-logo {
  text-align: center;
}

.slider-info-title-logo img {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  margin-right: 10px;
}

.slider-info-title-logo span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.slider-info-description {
  text-align: center;
  padding: 20px 0px;
}

.slider-form label {
  display: block;
}

.slider-form input[type=text],[type=email],[type=tel]{
  width: 100%;
  padding: 12px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
}

.slider-download {
  background-color: #2d2d2d;
  margin: 30px 0px;
}

.slider-download-text {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 30px 0px 30px 30px;
  width: 70%;
}

.slider-download-icon {
  display: inline-block;
  vertical-align: middle;
}

.slider-motto {
  text-align: center;
  padding: 0px 20px;
}

/* about item part */

.about-item {
  width:33.33%;
  float:left;
  padding:0 20px;
  min-height:280px;
}

.about-item-icon img {
  display: block;
  margin: 5px auto;
}

.about-item-title {
  font-weight: 600 !important;
  padding-bottom: 30px;
}

.about-item:hover {
  border: 1px solid #fff;
  border-radius: 20px;
}

/* client-part */

.client-article {
  padding: 40px 0px;
}

/* client-item part */

.client-item {
  width:33.333%;
  float:left;
  padding:0 20px;
}

.client-item-icon img {
  display: block;
  margin: 25px auto;
}

.client-item-logo img {
  display: block;
  margin: 0 auto;
}

.client-item-description {
  min-height: 250px;
}

.client-info {
  min-height: 320px;
}

/* links section */

.logo-links {
  float: left;
  width: 60%;
  padding: 60px 0px;
}

.logo-links img {
  display: inline-block;
  width: 24%;
  padding-right: 40px;
}

.download-link {
  float: right;
  width: 40%;
  position: relative;
}

.download-link > img {
  display: block;
  width: 100%;
  float: none;
}

.download-link a {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
}

.download-guide {
  float: left;
  width: 60%;
}

.download-guide p {
  font-size: 24px;
}

.download-guide-icon {
  float: right;
  width: 30%;
}

/* footer section */

.footer{
  background-image: url("assets/background/footer.png");
  background-size: 100% 100%;
  align-items: center;
  color: #fff;
  padding: 50px;
}

.footer-section {
  padding: 0px 20px;
}

.footer a {
  color: #fff;
}

.footer-links {
  display: inline-block;
}

/* media screen */

@media only screen and (max-width: 900px) {

/* header */

.header-contact {
  display: none;
}

.header-navigation {
  display: none;
}

.header-info {
  width: 45%;
}

.header-menu {
  display: block;
}

.header-info {
  width: 90px;
  padding-right: 20px;
}

/* slider */

.slider-background {
  height: 100vw;
}

.slider-main {
  width: 100%;
  height: 100vw;
}

.slider-info {
  width: 100%;
  height: 100vw;
  background-color: #fff;
}

.slider-info-content {
  height: 80vw;
}

.slider-download-text {
  font-size: 25px;
}

/* about */

.about-item {
  width: 45%;
  padding : 0px 30px;
}

.about-item:nth-child(2n) {
  float: right;
}

/* client */

.client-item {
  width: 100%;
  padding: 0px 100px;
}

.client-item-description {
  min-height: 150px;
}

.client-item-logo {
  padding-top: 30px;
}

/* links */

.logo-links {
  width: 100%;
  padding: 20px 0px;
}

.download-link {
  width: 100%;
}

.download-guide {
  width: 40%;
}

.download-guide p {
  font-size: 250%;

}

.download-guide-icon {
  width: 40%;
}

.download-guide-icon img {
  float: right;
  width: 60%;
}

}

@media only screen and (max-width: 640px) {

/* header */

.header-contact {
  display: none;
}

.header-navigation {
  display: none;
}

.header-menu {
  display: block;
  width: 50%;
}

.header-info {
  width: 28%;
}

.header-logo {
  width: 70%
}

.title-logo {
  width: 30%;
}

.title-logo span {
  display: none;
}

/* slider */

.slider-main,
.slider-info {
  height: 100vw;
}

/* about */

.about-item {
  width: 100%;
  padding: 0px 60px;
  min-height: 250px;
}

/* links */

.logo-links {
  width: 100%;
  padding: 20px 0px;
}

.download-guide p {
  font-size: 150%;
}


}